<!DOCTYPE html>
<html>

<head>
    <title>4362 Pit Test</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section id="match">
        <h1 id="match-number">Match #?</h1>
        <div id="matchtime"></div>
        <div id="timeremain"></div>
        <div class="nav">
            <div class="arrow" id="previous"></div>
            <div class="arrow" id="next"></div>
        </div>
        <div id="getReady"></div>
        <div id="alliance"></div>
    </section>
    <section id="red"></section>
    <section id="blue"></section>
    <script src="/static/pit.js"></script>
</body>

</html>
